<!-- start header -->
<header>
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="topleft-info">
                        {#<li><i class="fa fa-phone"></i> +62 088 999 123</li>#}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>
                                <i class="fa fa-user" aria-hidden="true"></i> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('sonata_admin_dashboard') }}"target="_blank">
                                        <i class="fa fa-external-link" aria-hidden="true"></i> Admin Dashboard
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-6">
                    {{ render(controller('AppBundle:Search:createSearchForm')) }}
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {#<a class="navbar-brand" href="index.html"><img src="{{ asset('public/Sailor/img/logo.png') }}" alt="" width="199" height="52" /></a>#}
                <a class="navbar-brand" href="{{ path('app_homepage') }}"><img src="{{ asset('public/images/logo.svg') }}" alt="logo" height="52" /> Feed Your Tod</a>
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li {% if app.request.get('_route') == 'app_homepage' %}class="active"{% endif %}>
                        <a href="{{ path('app_homepage') }}">Home</a>
                    </li>
                    <li {% if app.request.get('_route') == 'app_menus' %}class="active"{% endif %}>
                        <a href="{{ path('app_menus') }}">Menus</a>
                    </li>
                    <li {% if app.request.get('_route') == 'app_recipes' %}class="active"{% endif %}>
                        <a href="{{ path('app_recipes') }}">Recipes</a>
                    </li>
                    <li {% if app.request.get('_route') == 'app_contact' %}class="active"{% endif %}>
                        <a href="{{ path('app_contact') }}">Contact</a>
                    </li>
                    <li {% if app.request.get('_route') == 'app_search_results' %}class="active"{% endif %}>
                        <a href="{{ path('app_search_results') }}">Search</a>
                    </li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Créer un compte</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- end header -->