<div class="widget">
    <h5 class="widgetheading">Random menus ({{ listRandomMenus|length }})</h5>
    <ul class="recent">

        {% if listRandomMenus|length > 0 %}
            {% for menu in listRandomMenus %}
                <li>
                    {% set picture = menu|photoMenu %}
                    {% if picture is not empty %}
                        <a href="{{ path('app_menu', {'id': menu.id}) }}">
                            {#<img src="{{ asset('public/Sailor/img/dummies/blog/65x65/thumb1.jpg') }}" class="pull-left" alt="" />#}
                            <img class="pull-left" src="{{ asset('uploads/photoRecipes/' ~ picture.src) }}" alt="{{ picture.legend }}" height="65" width="65">
                        </a>
                    {% endif %}

                    <h6><a href="{{ path('app_menu', {'id': menu.id}) }}">{{ menu.name }}</a></h6>

                    <p>
                        {# @var menu \AppBundle\Entity\Menu #}
                        {#{{ menu.subtitle }}#}
                        Mazim alienum appellantur eu cu ullum officiis pro pri
                    </p>
                </li>
            {% endfor %}
        {% endif %}



        {#<li>#}
            {#<a href="#"><img src="img/dummies/blog/65x65/thumb2.jpg" class="pull-left" alt="" /></a>#}
            {#<h6><a href="#">Maiorum ponderum eum</a></h6>#}
            {#<p>#}
                {#Mazim alienum appellantur eu cu ullum officiis pro pri#}
            {#</p>#}
        {#</li>#}
        {#<li>#}
            {#<a href="#"><img src="img/dummies/blog/65x65/thumb3.jpg" class="pull-left" alt="" /></a>#}
            {#<h6><a href="#">Et mei iusto dolorum</a></h6>#}
            {#<p>#}
                {#Mazim alienum appellantur eu cu ullum officiis pro pri#}
            {#</p>#}
        {#</li>#}

    </ul>
</div>