<!-- start header -->
<header>
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="topleft-info">
                        <li><i class="fa fa-phone"></i> +62 088 999 123</li>
                    </ul>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <p>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</p>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search" title="Click to start searching"></span>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {#<a class="navbar-brand" href="index.html"><img src="{{ asset('public/Sailor/img/logo.png') }}" alt="" width="199" height="52" /></a>#}
                <a class="navbar-brand" href="{{ path('app_homepage') }}"><img src="{{ asset('public/images/logo.svg') }}" alt="logo" height="52" /> Feed Your Tod</a>
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li {% if app.request.get('_route') == 'app_homepage' %}class="active"{% endif %}>
                        <a href="{{ path('app_homepage') }}">Home</a>
                    </li>
                    <li {% if app.request.get('_route') == 'app_menu' %}class="active"{% endif %}>
                        <a href="{{ path('app_menu') }}">Menus</a>
                    </li>
                    <li>
                        <a href="#">Recipes</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                    {% else %}
                        <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                        <li><a href="{{ path('fos_user_registration_register') }}">Créer un compte</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- end header -->