{% extends '::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Register
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('app_homepage') }}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
    <li class="active">Register</li>
{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}



{% block content %}


    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

            {#<form role="form" class="register-form" action="{{ path('fos_user_registration_register') }}" method="post" >#}
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'register-form', 'role': 'form'}}) }}

                <h2>Please Sign Up <small>It's free and always will be.</small></h2>
                <hr class="colorgraph">
                {#<div class="row">#}
                    {#<div class="col-xs-12 col-sm-6 col-md-6">#}
                        {#<div class="form-group">#}
                            {#<input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1">#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-xs-12 col-sm-6 col-md-6">#}
                        {#<div class="form-group">#}
                            {#<input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2">#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}


                <div class="form-group">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Email', 'tabindex': '3'}}) }}
                </div>

                <div class="form-group">
                    {{ form_widget(form.username, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Username', 'tabindex': '4'}}) }}
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Password', 'tabindex': '5'}}) }}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control input-lg', 'placeholder': 'Confirm Password', 'tabindex': '6'}}) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        By clicking <strong class="label label-primary">Register</strong>, you agree to the <a href="#" data-toggle="modal" data-target="#t_and_c_m">Terms and Conditions</a> set out by this site, including our Cookie Use.
                    </div>
                </div>




                {#{{ form_widget(form) }}#}

            <hr class="colorgraph">
            <div class="row">
                <div class="col-xs-12 col-md-6"><input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-theme btn-block btn-lg" tabindex="7"></div>
                <div class="col-xs-12 col-md-6">Already have an account? <a href="{{ path("fos_user_security_login") }}">Sign In</a></div>
            </div>

            {{ form_end(form) }}
            {#</form>#}

        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, itaque, modi, aliquam nostrum at sapiente consequuntur natus odio reiciendis perferendis rem nisi tempore possimus ipsa porro delectus quidem dolorem ad.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}








