{{ form_start(form, {'attr': {'class': '' }}) }}
    {{ form_errors(form) }}

    {% if form.firstName is defined %}
        {{ form_row(form.firstName) }}
    {% endif %}
    {% if form.birthDate is defined %}
        {{ form_row(form.birthDate) }}
    {% endif %}
    {% if form.childFoods is defined %}
        {{ form_row(form.childFoods) }}
    {% endif %}

<p>
    <a href="#" id="add_childfood" class="btn btn-default">Ajouter une préférence</a>
</p>

{{ form_rest(form) }}
<input class="btn btn-theme btn-add" type="submit" value="Enregistrer" />

{{ form_end(form) }}