{%  extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Ajouter un enfant
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block breadcrumb %}
    <li><a href="{{ path('app_homepage') }}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
    <li><a href="{{ path('app_children') }}">Mon enfant</a><i class="icon-angle-right"></i></li>
    <li class="active">Ajouter</li>
{% endblock %}


{% block content %}
    <h2>Ajouter un enfant</h2>

    <div class="row">
        <div class="col-sm-12">
        {% include ':child:_form.html.twig' %}
        </div>
    </div>

{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('public/js/childfood.js') }}"></script>

{% endblock %}


