{%  extends "::layout.html.twig" %}
    {%  block title 'New child' %}

    {%  block contentTitle %}
        <h1>Tastes</h1>
    {%  endblock %}

    {% block content %}

        {{ form_start(form, {'attr': {'class': 'form-horizontal' }}) }}
        {{ form_errors(form) }}
        {{ form_row(form.food) }}
        {{ form_row(form.childFoodTag) }}
        {{ form_widget(form) }}
        <input class="btn btn-theme btn-add" type="submit" value="Done" />
        {{ form_end(form) }}


    {% endblock %}