{% extends '::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Contact
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block breadcrumb %}
    <li><a href="{{ path('app_homepage') }}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
    <li class="active">Contact</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Contact us <small>get in touch with us by filling form below</small></h2>
            <hr class="colorgraph">
            {#<div id="sendmessage">Your message has been sent. Thank you!</div>#}
            {#<div id="errormessage"></div>#}

            {{ form_start(form, {'attr': {'class': 'contactForm' }}) }}
            {{ form_errors(form, {'attr': {'class': 'errormessage' }}) }}

            <div class="form-group">
                {{ form_errors(form.name) }}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control',
                                                        'placeholder': 'Your Name',
                                                        'data-rule': 'minlen:4',
                                                        'data-msg': 'Please enter at least 4 chars',
                                                        'readonly': '',
                                                        'value': app.user.username  }}) }}
                {% else %}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control',
                                                        'placeholder': 'Your Name',
                                                        'data-rule': 'minlen:4',
                                                        'data-msg': 'Please enter at least 4 chars'}}) }}
                {% endif %}
                {#<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />#}
                <div class="validation"></div>
            </div>

            <div class="form-group">
                {{ form_errors(form.email) }}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control',
                                                        'placeholder': 'Your Email',
                                                        'data-rule': 'email',
                                                        'data-msg': 'Please enter a valid email',
                                                        'readonly': '',
                                                        'value': app.user.email  }}) }}
                {% else %}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control',
                                                        'placeholder': 'Your Email',
                                                        'data-rule': 'email',
                                                        'data-msg': 'Please enter a valid email'}}) }}
                {% endif %}
                {#<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />#}
                <div class="validation"></div>
            </div>

            <div class="form-group">
                {{ form_errors(form.subject) }}
                {{ form_widget(form.subject, {'attr': {'class': 'form-control', 'placeholder': 'Subject', 'data-rule': 'minlen:4', 'data-msg': 'Please enter at least 8 chars of subject'}}) }}
                {#<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />#}
                <div class="validation"></div>
            </div>

            <div class="form-group">
                {{ form_errors(form.message) }}
                {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Message', 'data-rule': 'required', 'data-msg': 'Please write something for us'}}) }}
                {#<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>#}
                <div class="validation"></div>
            </div>

            <div class="text-center"><button type="submit" class="btn btn-theme btn-block btn-md">Send Message</button></div>

            {{ form_rest(form) }}
            {{ form_end(form) }}

            {#<form action="" method="post" role="form" class="contactForm">#}
                {#<div class="form-group">#}
                    {#<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />#}
                    {#<div class="validation"></div>#}
                {#</div>#}
                {#<div class="form-group">#}
                    {#<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />#}
                    {#<div class="validation"></div>#}
                {#</div>#}
                {#<div class="form-group">#}
                    {#<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />#}
                    {#<div class="validation"></div>#}
                {#</div>#}
                {#<div class="form-group">#}
                    {#<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>#}
                    {#<div class="validation"></div>#}
                {#</div>#}

                {#<div class="text-center"><button type="submit" class="btn btn-theme btn-block btn-md">Send Message</button></div>#}
            {#</form>#}
            <hr class="colorgraph">

        </div>
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}




