{% extends '::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block breadcrumb %}
    <li class="active"><i class="fa fa-home"></i><i class="icon-angle-right"></i></li>
{% endblock %}


{% block content %}


    <div class="row">

        <div class="col-lg-8">

            <div style="border-bottom: #e9e9e9 1px solid;padding-bottom: 9px;">
                <h3>Recette/Menu aléatoire en fonction de la saison :
                    {% for season in seasons %}
                        {{ season.name | upper}}
                    {% endfor %}
                </h3>

                <p>
                    Affichages photos ? noms recettes ? description .. ?
                </p>

                <p>
                    Lorem ipsum dolor sit amet, no vix sint solet, et ius utinam deseruisse intellegam, ne pro modus vitae tation. Vis ex soluta tritani. Ne pro esse facete expetendis, laudem eirmod minimum nec in. Est quidam urbanitas gloriatur no, eu unum suscipit disputando eam, nam bonorum facilisi ut.
                    Putent efficiantur et pri, eu primis laoreet eum, ut malis everti mel.
                </p>

                <p>
                    Ne utroque prodesset mei, mea no aliquam utroque. Has ne tation argumentum. Vis ex insolens reformidans, mea semper impetus argumentum ad. Sea erroribus sadipscing in. Mel cu dolore admodum accumsan, mea timeam perpetua disputationi ne, urbanitas prodesset ex vel.
                    Ei nostro molestiae moderatius cum. Adhuc persius dolores ut sed, quis vidisse vituperata duo in. Quot signiferumque eos cu, ad dissentiet theophrastus has, eum tota utroque nusquam te. Ei elit eirmod delicata pri. Solet affert theophrastus pro ei, ius enim homero deleniti te.
                </p>


            </div>

            <div>
                <h3>Feed Your Tod - Notre ambition :</h3>

                {#<img src="{{ asset('public/Sailor/img/dummies/dummy-1200.jpg') }}" alt="" class="img-responsive" />#}
                <img src="{{ asset('public/images/index_baby_food.jpg') }}" alt="baby and food" class="img-responsive" />

                <p>
                    Nous Faisons tout pour que ........ <strong>Lorem ipsum dolor sit amet,</strong> no vix sint solet, et ius utinam deseruisse intellegam, ne pro modus vitae tation. Vis ex soluta tritani. Ne pro esse facete expetendis, laudem eirmod minimum nec in. Est quidam urbanitas gloriatur no, eu unum suscipit disputando eam, nam bonorum facilisi ut.
                    Putent efficiantur et pri, eu primis laoreet eum, ut malis everti mel.
                </p>

                <p>
                    Ne utroque prodesset mei, mea no aliquam utroque. Has ne tation argumentum. Vis ex insolens reformidans, mea semper impetus argumentum ad. Sea erroribus sadipscing in. Mel cu dolore admodum accumsan, mea timeam perpetua disputationi ne, urbanitas prodesset ex vel.
                    Ei nostro molestiae moderatius cum. Adhuc persius dolores ut sed, quis vidisse vituperata duo in. Quot signiferumque eos cu, ad dissentiet theophrastus has, eum tota utroque nusquam te. Ei elit eirmod delicata pri. Solet affert theophrastus pro ei, ius enim homero deleniti te.
                </p>


            </div>


        </div>

        <div class="col-lg-4">
            <aside class="right-sidebar">

                {#<div class="widget">#}
                    {#<form role="form">#}
                        {#<div class="form-group">#}
                            {#<input type="text" class="form-control" id="s" placeholder="Search..">#}
                        {#</div>#}
                    {#</form>#}
                {#</div>#}
                <div class="widget">
                    <h5 class="widgetheading">Menus aléatoires</h5>
                    <ul class="recent">
                        {% if listRandomMenus|length > 0 %}
                            {% for menu in listRandomMenus %}
                                <li>
                                    <a href="{{ path('app_menu', {'id': menu.id}) }}">
                                        <img src="{{ asset('public/Sailor/img/dummies/blog/65x65/thumb1.jpg') }}" class="pull-left" alt="" />
                                    </a>
                                    <h6><a href="{{ path('app_menu', {'id': menu.id}) }}">{{ menu.name }}</a></h6>
                                    <p>
                                        Mazim alienum appellantur eu cu ullum officiis pro pri
                                    </p>
                                </li>
                            {% endfor %}
                        {% endif %}
                        {#<li>#}
                            {#<a href="#"><img src="{{ asset('public/Sailor/img/dummies/blog/65x65/thumb2.jpg') }}" class="pull-left" alt="" /></a>#}
                            {#<h6><a href="#">Maiorum ponderum eum</a></h6>#}
                            {#<p>#}
                                {#Mazim alienum appellantur eu cu ullum officiis pro pri#}
                            {#</p>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#"><img src="{{ asset('public/Sailor/img/dummies/blog/65x65/thumb3.jpg') }}" class="pull-left" alt="" /></a>#}
                            {#<h6><a href="#">Et mei iusto dolorum</a></h6>#}
                            {#<p>#}
                                {#Mazim alienum appellantur eu cu ullum officiis pro pri#}
                            {#</p>#}
                        {#</li>#}

                    </ul>
                </div>
                <div class="widget">
                    <h5 class="widgetheading">Ingrédients populaires</h5>
                    <ul class="tags">
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Trends</a></li>
                        <li><a href="#">Technology</a></li>
                        <li><a href="#">Internet</a></li>
                        <li><a href="#">Tutorial</a></li>
                        <li><a href="#">Development</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <h5 class="widgetheading">Des menus ..</h5>
                    <ul class="cat">
                        {% if listRandomMenus|length > 0 %}
                            {% for menu in listRandomMenus %}
                                <li><i class="fa fa-angle-right"></i><a href="{{ path('app_menu', {'id': menu.id}) }}">{{ menu.name }}</a></li>
                            {% endfor %}
                        {% endif %}

                        {#<li><i class="fa fa-angle-right"></i><a href="#">Online business</a><span> (11)</span></li>#}
                        {#<li><i class="fa fa-angle-right"></i><a href="#">Marketing strategy</a><span> (9)</span></li>#}
                        {#<li><i class="fa fa-angle-right"></i><a href="#">Technology</a><span> (12)</span></li>#}
                        {#<li><i class="fa fa-angle-right"></i><a href="#">About finance</a><span> (18)</span></li>#}
                    </ul>
                </div>

            </aside>
        </div>

    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}




