{% extends '::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('public/Sailor/plugins/flexslider/flexslider.css') }}" rel="stylesheet" media="screen" />
{% endblock %}


{% block breadcrumb %}
    <li class="active"><i class="fa fa-home"></i><i class="icon-angle-right"></i></li>
{% endblock %}


{% block content %}

    <div class="row">

        <div class="col-lg-8">


            <article>
                <div class="post-slider">
                    <div class="post-heading">
                        <h2>{{ randomMenu.name }} ({{ randomMenu.season.name }})</h2>
                    </div>
                    {% if randomMenu.recipes|length > 0 %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                                <!-- start flexslider -->
                                <div id="post-slider" class="postslider flexslider">
                                    <ul class="slides">
                                        {% for recipe in randomMenu.recipes %}
                                            {% if recipe.photoRecipes|length > 0 %}
                                                {% for photoRecipe in recipe.photoRecipes %}
                                                    <li>
                                                        <img src="{{ asset('uploads/photoRecipes/'~photoRecipe.src) }}" alt="{{ photoRecipe.legend }}"
                                                             class="img-responsive" >
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}

                                        {#<li>#}
                                        {#<img src="img/dummies/blog/img2.jpg" alt="" />#}
                                        {#</li>#}
                                        {#<li>#}
                                        {#<img src="img/dummies/blog/img3.jpg" alt="" />#}
                                        {#</li>#}
                                    </ul>
                                </div>
                                <!-- end flexslider -->
                            </div>
                        </div>
                    {% endif %}
                </div>

                {#{% for recipe in listRandomMenus.recipes %}#}
                    {#<h4><a href="{{ path('app_recipe', {'id': recipe.id}) }}">{{ recipe.name }}</a></h4>#}
                    {#<p>#}
                        {#{% if recipe.content|length > 150 %}#}
                            {#{{ recipe.content|slice(0, 150)~'.....' }}#}
                        {#{% else %}#}
                            {#{{ recipe.content }}#}
                        {#{% endif %}#}
                    {#</p>#}
                {#{% else %}#}
                    {#<p>Pas (encore) de recette</p>#}
                {#{% endfor %}#}


                {#<p>#}
                {#Lorem ipsum dolor sit amet, id integre rationibus mei, nec eu erat dicunt sapientem. Sit cu augue referrentur, pri omnes complectitur comprehensam te. Doctus alienum ad sed, at doming cetero referrentur mei. Qui quas oportere inciderint et, et persius antiopam has, sed ex verterem quaestio. Id alii eligendi mei, an cum feugiat persequeris. Eam id sententiae intellegebat, accusata tractatos urbanitas ei mea, pro causae doctus quaestio at.#}
                {#</p>#}
                <div class="bottom-article">
                    <ul class="meta-post">
                        <li><i class="fa fa-calendar"></i><a href="#"> Mar 27, 2014</a></li>
                        <li><i class="fa fa-user"></i><a href="#"> Admin</a></li>
                        <li><i class="fa fa-comments"></i><a href="#">4 Comments</a></li>
                        <li><i class="fa fa-tags"></i><a href="#">Design</a>, <a href="#">Blog</a></li>
                    </ul>
                </div>
            </article>





            <div>
                <h3>Feed Your Tod - Notre ambition :</h3>

                {#<img src="{{ asset('public/Sailor/img/dummies/dummy-1200.jpg') }}" alt="" class="img-responsive" />#}
                <img src="{{ asset('public/images/index_baby_food.jpg') }}" alt="baby and food" class="img-responsive" />

                <p>
                    Nous Faisons tout pour que ........ <strong>Lorem ipsum dolor sit amet,</strong> no vix sint solet, et ius utinam deseruisse intellegam, ne pro modus vitae tation. Vis ex soluta tritani. Ne pro esse facete expetendis, laudem eirmod minimum nec in. Est quidam urbanitas gloriatur no, eu unum suscipit disputando eam, nam bonorum facilisi ut.
                    Putent efficiantur et pri, eu primis laoreet eum, ut malis everti mel.
                </p>

                <p>
                    Ne utroque prodesset mei, mea no aliquam utroque. Has ne tation argumentum. Vis ex insolens reformidans, mea semper impetus argumentum ad. Sea erroribus sadipscing in. Mel cu dolore admodum accumsan, mea timeam perpetua disputationi ne, urbanitas prodesset ex vel.
                    Ei nostro molestiae moderatius cum. Adhuc persius dolores ut sed, quis vidisse vituperata duo in. Quot signiferumque eos cu, ad dissentiet theophrastus has, eum tota utroque nusquam te. Ei elit eirmod delicata pri. Solet affert theophrastus pro ei, ius enim homero deleniti te.
                </p>


            </div>


        </div>

        <div class="col-lg-4">
            <aside class="right-sidebar">

                {#<div class="widget">#}
                    {#<form role="form">#}
                        {#<div class="form-group">#}
                            {#<input type="text" class="form-control" id="s" placeholder="Search..">#}
                        {#</div>#}
                    {#</form>#}
                {#</div>#}


                {{ render(controller('AppBundle:Recipe:displayRandomRecipes')) }}

                {{ render(controller('AppBundle:Menu:displayRandomMenus')) }}


            </aside>
        </div>

    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/Sailor/plugins/flexslider/jquery.flexslider-min.js') }}"></script>
    <script src="{{ asset('public/Sailor/plugins/flexslider/flexslider.config.js') }}"></script>
{% endblock %}




