{% extends '::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Menu
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('public/Sailor/plugins/flexslider/flexslider.css') }}" rel="stylesheet" media="screen" />
{% endblock %}


{% block breadcrumb %}
    <li><a href="{{ path('app_homepage') }}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
    <li><a href="{{ path('app_menus') }}">Menus</a><i class="icon-angle-right"></i></li>
    <li class="active">{{ menu.name }}</li>
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-lg-8">

            <h2 class="text-center">{{ menu.name }}</h2>

            <article>
                <div class="post-slider">
                    <div class="post-heading">
                        <h2>{{ menu.name }} ({{ menu.season.name }})</h2>
                    </div>
                    {% if menu.recipes|length > 0 %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                                <!-- start flexslider -->
                                <div id="post-slider" class="postslider flexslider">
                                    <ul class="slides">
                                        {% for recipe in menu.recipes %}
                                            {% if recipe.photoRecipes|length > 0 %}
                                                {% for photoRecipe in recipe.photoRecipes %}
                                                    <li>
                                                        <img src="{{ asset('uploads/photoRecipes/'~photoRecipe.src) }}" alt="{{ photoRecipe.legend }}"
                                                             class="img-responsive" >
                                                    </li>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}

                                        {#<li>#}
                                        {#<img src="img/dummies/blog/img2.jpg" alt="" />#}
                                        {#</li>#}
                                        {#<li>#}
                                        {#<img src="img/dummies/blog/img3.jpg" alt="" />#}
                                        {#</li>#}
                                    </ul>
                                </div>
                                <!-- end flexslider -->
                            </div>
                        </div>
                    {% endif %}
                </div>

                {% for recipe in menu.recipes %}
                    <h4><a href="{{ path('app_recipe', {'id': recipe.id}) }}">{{ recipe.name }}</a></h4>
                    <p>
                        {% if recipe.content|length > 150 %}
                            {{ recipe.content|slice(0, 150)~'.....' }}
                        {% else %}
                            {{ recipe.content }}
                        {% endif %}
                    </p>
                {% else %}
                    <p>Pas (encore) de recette</p>
                {% endfor %}
                {#<p>#}
                    {#Lorem ipsum dolor sit amet, id integre rationibus mei, nec eu erat dicunt sapientem. Sit cu augue referrentur, pri omnes complectitur comprehensam te. Doctus alienum ad sed, at doming cetero referrentur mei. Qui quas oportere inciderint et, et persius antiopam has, sed ex verterem quaestio. Id alii eligendi mei, an cum feugiat persequeris. Eam id sententiae intellegebat, accusata tractatos urbanitas ei mea, pro causae doctus quaestio at.#}
                {#</p>#}
                <div class="bottom-article">
                    <ul class="meta-post">
                        <li><i class="fa fa-calendar"></i><a href="#"> Mar 27, 2014</a></li>
                        <li><i class="fa fa-user"></i><a href="#"> Admin</a></li>
                        <li><i class="fa fa-comments"></i><a href="#">4 Comments</a></li>
                        <li><i class="fa fa-tags"></i><a href="#">Design</a>, <a href="#">Blog</a></li>
                    </ul>
                </div>
            </article>

            <div class="comment-area">

                <h4>4 Comments</h4>
                <div class="media">
                    <a href="#" class="pull-left"><img src="{{ asset('public/Sailor/img/avatar.png') }}" alt="" class="img-circle" /></a>
                    <div class="media-body">
                        <div class="media-content">
                            <h6><span>March 12, 2013</span> Michael Simpson</h6>
                            <p>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </p>

                            <a href="#" class="align-right reply">Reply</a>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <a href="#" class="pull-left"><img src="{{ asset('public/Sailor/img/avatar.png') }}" alt="" class="img-circle" /></a>
                    <div class="media-body">
                        <div class="media-content">
                            <h6><span>March 12, 2013</span> Smith karlsen</h6>
                            <p>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </p>

                            <a href="#" class="align-right reply">Reply</a>
                        </div>
                        <div class="media">
                            <a href="#" class="pull-left"><img src="{{ asset('public/Sailor/img/avatar.png') }}" alt="" class="img-circle" /></a>
                            <div class="media-body">
                                <div class="media-content">
                                    <h6><span>June 22, 2013</span> Jay Moeller</h6>
                                    <p>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                                    </p>

                                    <a href="#" class="align-right reply">Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <a href="#" class="pull-left"><img src="{{ asset('public/Sailor/img/avatar.png') }}" alt="" class="img-circle" /></a>
                    <div class="media-body">
                        <div class="media-content">
                            <h6><span>June 24, 2013</span> Dean Zaloza</h6>
                            <p>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </p>

                            <a href="#" class="align-right reply">Reply</a>
                        </div>
                    </div>
                </div>

                <div class="marginbot30"></div>
                <h4>Leave your comment</h4>


                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="* Enter name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="* Enter email address">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="8" placeholder="* Your comment here"></textarea>
                    </div>
                    <button type="submit" class="btn btn-theme btn-md">Submit</button>
                </form>

            </div>

            <div class="clear"></div>
        </div>

        <div class="col-lg-4">
            <aside class="right-sidebar">

                <div class="widget">
                    <h5 class="widgetheading">Latest posts</h5>
                    <ul class="recent">
                        <li>
                            <img src="img/dummies/blog/65x65/thumb1.jpg" class="pull-left" alt="" />
                            <h6><a href="#">Lorem ipsum dolor sit</a></h6>
                            <p>
                                Mazim alienum appellantur eu cu ullum officiis pro pri
                            </p>
                        </li>
                        <li>
                            <a href="#"><img src="img/dummies/blog/65x65/thumb2.jpg" class="pull-left" alt="" /></a>
                            <h6><a href="#">Maiorum ponderum eum</a></h6>
                            <p>
                                Mazim alienum appellantur eu cu ullum officiis pro pri
                            </p>
                        </li>
                        <li>
                            <a href="#"><img src="img/dummies/blog/65x65/thumb3.jpg" class="pull-left" alt="" /></a>
                            <h6><a href="#">Et mei iusto dolorum</a></h6>
                            <p>
                                Mazim alienum appellantur eu cu ullum officiis pro pri
                            </p>
                        </li>
                    </ul>
                </div>

            </aside>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/Sailor/plugins/flexslider/jquery.flexslider-min.js') }}"></script>
    <script src="{{ asset('public/Sailor/plugins/flexslider/flexslider.config.js') }}"></script>
{% endblock %}




