{% extends '::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Menus
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('public/Sailor/plugins/flexslider/flexslider.css') }}" rel="stylesheet" media="screen" />
{% endblock %}


{% block breadcrumb %}
    <li><a href="{{ path('app_homepage') }}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
    <li class="active">Menus</li>
{% endblock %}

{% block content %}


    <div class="row">

        <div class="col-lg-8">

            <h2 class="text-center">Les menus ({#{ menus|length }#}{{ menus.getTotalItemCount }})</h2>

            {% for menu in menus %}

                <article>
                    <div class="post-slider">
                        <div class="post-heading">
                            <h3><a href="{{ path('app_menu', {'id': menu.id}) }}">{{ menu.name }}</a></h3>
                        </div>
                        {% if menu.recipes|length > 0 %}
                            <div class="row">
                                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                                    <!-- start flexslider -->
                                    <div id="post-slider" class="postslider flexslider">
                                        <ul class="slides">
                                            {% for recipe in menu.recipes %}
                                                {% if recipe.photoRecipes|length > 0 %}
                                                    {% for photoRecipe in recipe.photoRecipes %}
                                                        <li>
                                                            <a href="{{ path('app_menu', {'id': menu.id}) }}">
                                                                <img src="{{ asset('uploads/photoRecipes/'~photoRecipe.src) }}" alt="{{ photoRecipe.legend }}"
                                                                     class="img-responsive" >
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}

                                            {#<li>#}
                                            {#<img src="img/dummies/blog/img2.jpg" alt="" />#}
                                            {#</li>#}
                                            {#<li>#}
                                            {#<img src="img/dummies/blog/img3.jpg" alt="" />#}
                                            {#</li>#}
                                        </ul>
                                    </div>
                                    <!-- end flexslider -->
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {#<p>#}
                        {#Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper laoreet perfecto ad qui, est rebum nulla argumentum ei. Fierent adipisci iracundia est ei, usu timeam persius ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed.#}
                    {#</p>#}
                    <div class="bottom-article">
                        <ul class="meta-post">
                            <li>
                                <i class="fa fa-sun-o" aria-hidden="true"></i> Saison: <b>{{ menu.season.name}}</b>
                            </li>
                            <li>
                                {% import ":Macros:macro_recipe_min_age.html.twig" as macroAge  %}
                                <i class="fa fa-calendar" aria-hidden="true"></i> A partir de: <b>{{ macroAge.displayAge(menu.age) }}</b>
                            </li>
                        </ul>
                        <a href="{{ path('app_menu', {'id': menu.id}) }}" class="readmore pull-right">Voir le menu <i class="fa fa-angle-right"></i></a>
                    </div>
                </article>

            {% else %}
                <h3>Aucun menu</h3>
            {% endfor %}



            {#<article>#}
                {#<div class="post-slider">#}
                    {#<div class="post-heading">#}
                        {#<h3><a href="#">This is an example of slider post format</a></h3>#}
                    {#</div>#}
                    {#<!-- start flexslider -->#}
                    {#<div id="post-slider" class="postslider flexslider">#}
                        {#<ul class="slides">#}
                            {#<li>#}
                                {#<img src="img/dummies/blog/img1.jpg" alt="" />#}
                            {#</li>#}
                            {#<li>#}
                                {#<img src="img/dummies/blog/img2.jpg" alt="" />#}
                            {#</li>#}
                            {#<li>#}
                                {#<img src="img/dummies/blog/img3.jpg" alt="" />#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                    {#<!-- end flexslider -->#}
                {#</div>#}
                {#<p>#}
                    {#Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper laoreet perfecto ad qui, est rebum nulla argumentum ei. Fierent adipisci iracundia est ei, usu timeam persius ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed.#}
                {#</p>#}
                {#<div class="bottom-article">#}
                    {#<ul class="meta-post">#}
                        {#<li><i class="fa fa-calendar"></i><a href="#"> May 17, 2014</a></li>#}
                        {#<li><i class="fa fa-user"></i><a href="#"> Admin</a></li>#}
                        {#<li><i class="fa fa-folder-open"></i><a href="#"> Blog</a></li>#}
                        {#<li><i class="fa fa-comments"></i><a href="#">4 Comments</a></li>#}
                    {#</ul>#}
                    {#<a href="#" class="readmore pull-right">Continue reading <i class="fa fa-angle-right"></i></a>#}
                {#</div>#}
            {#</article>#}




            {# display navigation #}
            {{ knp_pagination_render(menus) }}





            <div class="clear"></div>
        </div>


        <div class="col-lg-4">
            <aside class="right-sidebar">

                <div class="widget">
                    <form role="form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="s" placeholder="Search..">
                        </div>
                    </form>
                </div>

                {{ render(controller('AppBundle:Recipe:displayRandomRecipes')) }}

                {{ render(controller('AppBundle:Menu:displayRandomMenus')) }}

            </aside>
        </div>

    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/Sailor/plugins/flexslider/jquery.flexslider-min.js') }}"></script>
    <script src="{{ asset('public/Sailor/plugins/flexslider/flexslider.config.js') }}"></script>
{% endblock %}




