{% extends '::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Recette : {{ recipe.name }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('public/Sailor/plugins/flexslider/flexslider.css') }}" rel="stylesheet" media="screen" />
{% endblock %}


{% block breadcrumb %}
    <li><a href="{{ path('app_homepage') }}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
    <li><a href="{{ path('app_recipes') }}">Recettes</a><i class="icon-angle-right"></i></li>
    <li class="active">{{ recipe.name }}</li>
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-lg-12">

            <div class="pdf">
                <h1 class="text-center">{{ recipe.name }}</h1>

                <article>

                    <p class="pull-right">
                        <a class="btn btn-default" href="{{ path('app_generate_pdf', {id:recipe.id}) }}">Télécharger PDF</a>

                    </p>

                    <div class="{% if recipe.photoRecipes|length > 1 %}
                                    post-slider
                                {% else %}
                                    post-image
                                {% endif %}">
                        <div class="post-heading">
                            <h2>{{ recipe.recipeType.wording }} : {{ recipe.name }} ({{ recipe.season.name }})</h2>
                        </div>
                        {% if recipe.photoRecipes|length > 0 %}
                            <div class="row">
                                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                                    <!-- start flexslider -->
                                    <div id="post-slider" class="postslider flexslider">
                                        <ul class="slides">
                                            {% for photoRecipe in recipe.photoRecipes %}
                                                <li>
                                                    <img src="{{ asset('uploads/photoRecipes/'~photoRecipe.src) }}" alt="{{ photoRecipe.legend }}"
                                                         class="img-responsive" >
                                                </li>
                                            {% endfor %}
                                            {#<li>#}
                                                {#<img src="img/dummies/blog/img2.jpg" alt="" />#}
                                            {#</li>#}
                                            {#<li>#}
                                                {#<img src="img/dummies/blog/img3.jpg" alt="" />#}
                                            {#</li>#}
                                        </ul>
                                    </div>
                                    <!-- end flexslider -->
                                </div>
                            </div>
                        {% endif %}

                    </div>

                    {% if recipe.preptime is not empty %}
                        <p>
                            <b><i class="fa fa-clock-o" aria-hidden="true"></i> Temps de préparation :</b><br>
                            {{ recipe.preptime }}
                        </p>
                    {% endif %}
                    {% if recipe.cooktime is not empty %}
                        <p>
                            <b><i class="fa fa-clock-o" aria-hidden="true"></i> Temps de cuisson :</b><br>
                            {{ recipe.cooktime }}
                        </p>
                    {% endif %}

                    <p>
                        <b><i class="fa fa-calendar" aria-hidden="true"></i> A partir de :</b><br>
                        {% import ":Macros:macro_recipe_min_age.html.twig" as macroAge  %}
                        {{ macroAge.displayAge(recipe.age) }}
                    </p>

                    <p>
                        <b><i class="fa fa-list" aria-hidden="true"></i> Ingrédients:</b><br>
                        <ul>
                            {% for ingredient in recipe.ingredients %}
                                <li>{{ ingredient.wording }}</li>
                            {% endfor %}
                        </ul>
                    </p>

                    {% if recipe.content is not empty %}
                        <p>
                            <b><i class="fa fa-book" aria-hidden="true"></i> Préparation:</b><br>
                            {{ recipe.content }}
                        </p>
                    {% endif %}

                    {% if recipe.filling is not empty %}
                        <p>
                            <b><i class="fa fa-plus-square-o" aria-hidden="true"></i> Garniture:</b><br>
                            {{ recipe.filling }}
                        </p>
                    {% endif %}

                    {% if recipe.observation is not empty %}
                        <p>
                            <b><i class="fa fa-stack-exchange" aria-hidden="true"></i> Observation:</b><br>
                            {{ recipe.observation }}
                        </p>
                    {% endif %}

                </article>
            </div>


            <div class="clear"></div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/Sailor/plugins/flexslider/jquery.flexslider-min.js') }}"></script>
    <script src="{{ asset('public/Sailor/plugins/flexslider/flexslider.config.js') }}"></script>
{% endblock %}




