{% extends '::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Search
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('app_homepage') }}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
    <li class="active">
        Search : {% if app.request.query.get('search')['keyword'] is defined %}
                    {{ app.request.query.get('search')['keyword'] }}
                {% elseif app.request.query.get('search_nav')['keyword'] is defined %}
                    {{ app.request.query.get('search_nav')['keyword'] }}
                {% endif %}
    </li>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-lg-4">
            <aside class="left-sidebar">

                <div class="widget">
                    {% include ':include:_search_form.html.twig' %}
                </div>

            </aside>
        </div>


        <div class="col-lg-8">

            <h3>Search : {% if app.request.query.get('search')['keyword'] is defined %}{{ app.request.query.get('search')['keyword'] }}{% endif %}</h3>

            <ul>

                {% if searchRecipes is defined %}
                    {% for recipe in searchRecipes  %}
                        <li><a href="{{ path('app_recipe', {'id': recipe.id}) }}">{{ recipe.name }}</a> (age: {{ recipe.age }})</li>
                    {% endfor %}
                {% else %}
                    <p>Aucun résultat pour les recettes</p>
                {% endif %}

                <hr>

                {% if searchMenus is defined %}
                    {% for menu in searchMenus %}
                        <li><a href="{{ path('app_menu', {'id': menu.id}) }}">{{ menu.name }}</a> (age: {{ menu.age }})</li>
                    {% endfor %}
                {% else %}
                    <p>Aucun résultat pour les menus</p>
                {% endif %}

            </ul>

        </div>



    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}