{% extends '::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Search
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('app_homepage') }}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
    <li class="active">Search : {% if app.request.query.get('search')['keyword'] %}{{ app.request.query.get('search')['keyword'] }}{% endif %}</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">

            <h3>Search : {% if app.request.query.get('search')['keyword'] %}{{ app.request.query.get('search')['keyword'] }}{% endif %}</h3>

            <ul>
                {% for recipe in searchRecipes  %}
                    <li>{{ recipe.name }}</li>
                {% endfor %}
                <hr>
                {% for menu in searchMenus %}
                    <li>{{ menu.name }}</li>
                {% endfor %}
            </ul>

        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}